/* to make the fullerton town square link orange */
.nav > li > a:hover, .layout-editor .nav > li > a:focus {
    color: #e6e6e6;
    background-color: #017bbf;
    outline-color: #ffffff;
    text-decoration: underline;
}

/* to size and align the logo in the header */
.logo {
    background: transparent; 
    width:45px; 
    height: 50px; 
    display: inline-block;
}
/* align the social media icons */
li {
  display: inline-block;
  padding-top:15px;
}
/* put space at the bottom of the footer */
.navbar {
  padding-bottom: 5px;
}
.navbar-brand {
  color:white;
}

.nav-link {
  padding-top:10px;
  display: inline-block;
}

ul {
  display: inline-block;
  padding-top: 10px;
}
